body{
    max-width: 80%;
    margin: 0 auto;
    background-image: url(img/fundo.png);
    padding-top: 2%;

}


.links{
    padding-top: 2%;
   float: right;
}

#img-capa{
    padding-top: 0.98%;
    display: flex;
    justify-content: center;
}

