<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>

<body id="body2">
    <div>
        <img src="../static/img/logo.png" alt="logo">
        <div class="links">
            <a href="/home">Home</a> |
            <a href="/quemsomos">Quem Somos</a> |
            <a href="/contatos">Contatos</a> |
        </div>
    </div>
    
    <div>
        <h1>Entre em contato</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut error, aliquid explicabo similique blanditiis beatae tempora reiciendis repellendus deleniti praesentium, doloribus vitae aperiam sed architecto nulla laborum! Inventore, sequi! Veritatis.

        </p>

        <hr>
    </div>

    <div>
        <form>
            <label for="email">Seu email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="assunto">Assunto:</label><br>
            <input type="text" id="assunto" name="assunto"><br>
            <label for="descricao">Descrição:</label><br>
            <textarea rows="2" cols="18" id="descricao" name="descricao"></textarea><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>

</html>