<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>

<body id="body">
    <div>
        <img src="../static/img/logo.png" alt="logo">
        <div class="links">
            <a href="/home">Home</a> |
            <a href="/templates">Quem Somos</a> |
            <a href="/contatos">Contatos</a> |
        </div>
    </div>

    <div id="img-capa">
        <img src=../static/img/capa.png alt="capa">
    </div>

    <div>
        <h1>Sobre a Universidade</h1>
        <p>Lorem, <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Vero deserunt distinctio, illo corporis repellendus voluptas est quaerat minima consequatur nesciunt, 
            tenetur enim. A, eaque ex! Perspiciatis molestias reiciendis sequi dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde consequatur accusantium aspernatur inventore. Molestias, 
            voluptate maiores officia, deleniti error culpa tenetur exercitationem dicta illum temporibus ab! At tempora voluptates molestias!
        </p>
        <p>
            Lorem <b>ispsum dolor</b> sit amet consectetur adipisicing elit. Temporibus nam possimus in dicta quibusdam? 
            Officiis repellendus ipsa, eos, iusto sed dolore earum veritatis, quisquam vel fugit velit minus doloribus doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio impedit voluptate consequuntur omnis ipsum molestias 
            itaque repellendus? Veniam nisi iure a placeat voluptatibus consequuntur, atque tenetur dolorum consectetur vitae temporibus.
        </p>

        <h4 style="text-align: center;">Todos os direitos reservados</h4>
    </div>


</body>
</html>